{% extends '_parcelDelivery/form.html' %}
{% load static %}
{% block formTitle %}Email Verification{% endblock formTitle %}

{% block styles %}

.form-main input[name="otp"] {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

{% endblock styles %}

{% block messagesBlock %}
    {% if messages %}
        <div class="navCustom">
            {% for message in messages %}
                
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <ul class="errorlist">
                    <li>
                        {{message}}
                    </li>
                </ul>
            {% else %}
                <ul class="form-success">
                    <li>
                        {{message}}
                    </li>
                </ul>
            {% endif %}

            {% endfor %}
            <img src="https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png"/>
        </div>
    {% endif %}

{% endblock messagesBlock %}

{% block formUrl %}/parcel/verify_otp/{% endblock formUrl %}

{% block formHeader %}
    <img src="{% static 'css/otp-icon.png' %}" width="150" height="120"/>
    <h1 class="h3 mb-3 fw-normal">Email Verification</h1>
{% endblock formHeader %}

{% block formFields %}
    <div class="form-floating">
        <input type="email" class="form-control" id="mailId" name="email" value="{{mail}}" readonly placeholder="Type email id here..." required>                
        <label for="mailId">Email</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="otp" name="otp" placeholder="Type your password here..." required>
        <label for="otp">Enter OTP here</label>
    </div>
{% endblock formFields %}

{% block afterFields %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Otp</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
{% endblock afterFields %}