<html>
    <head>
        <title>
            Dash Board
        </title>
    </head>

    <body>
        {% if messages %}
            <div class="navCustom">
                {% for message in messages %}
                    
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <ul class="errorlist">
                        <li>
                            {{message}}
                        </li>
                    </ul>
                {% else %}
                <ul class="form-success">
                    <li>
                        {{message}}
                    </li>
                </ul>
                {% endif %}

                {% endfor %}
                <img src="https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png"/>
            </div>
        {% endif %}

        <a href="/parcel/dashboard/logout/">Logout</a>
    </body> 
</html>